# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [5]:
a = 5; b = 5
print(a==b)
print(id(a), id(b))

True
132857779470704 132857779470704

Посилається на один і той самий об'єкт в пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [8]:
a = True
print(type(a))

<class 'bool'>

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [73]:
a = 5
b = 1.4
print(a-b, a+b, a*b, a/b, (int)(a/b), a % b,  pow(b, a))

3.6 6.4 7.0 3.5714285714285716 3 0.8000000000000003 5.378239999999998

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [55]:
c = int(b)
d = int(True)
print(c, d)

1 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [45]:
a = ""
b = str()
print(a)
print(b)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [50]:
c = "\'"
d = str("'")
print(c, d)

' '

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [49]:
surname = "Myhal"
print(f"My surname is {surname}")
print("My surname is %s" % surname)

My surname is Myhal
My surname is Myhal

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [46]:
txt = "My dog is crazy"
arr = txt.split(" ")
print(arr)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [20]:
a = [1, "sdf", -5.542]

b = []
b.append(5)
b.append(492)
b.append("string")

print(len(b))

3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [22]:
a = [1, "sdf", -5.542]

b = [5, 492, "string"]
a.append(b)

print(a)

[1, 'sdf', -5.542, [5, 492, 'string']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [23]:
a = [1, 'sdf', -5.542, [5, 492, 'string']]
print(a[-1][1])

[5, 492, 'string']

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [36]:
a = ["string", 1, 4.2, [14, "ss"], True, (5, 301), {"string": 1}, False, bytearray(5), {"red", "green", "blue"}]
b = a[-8:-2]
print(b)

[4.2, [14, 'ss'], True, (5, 301), {'string': 1}, False]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [71]:
a = (1,)
print(a, type(a))

(1,) <class 'tuple'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Кортеж - однотипний, а список - багатотипний

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [70]:
a = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
b = a[1::2][::-1]
print(b)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
a = set()

*місце для текстової відповіді

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [72]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Зникли дуплікати

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [89]:
a = {1, 4, 3, 6, 7}
b = {1, 5, 3, 2, 0}
print(set.union(a, b), set.difference(a, b), set.intersection(a, b), set.symmetric_difference(a, b))
print(a, b)

{0, 1, 2, 3, 4, 5, 6, 7} {4, 6, 7} {1, 3} {0, 2, 4, 5, 6, 7}
{1, 3, 4, 6, 7} {0, 1, 2, 3, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [74]:
a = {}
a["string1"]=1234
a[124] = False
a[False] = 4.6
a[None] = [1, 5.3, "abc"]
print(a)

{'string1': 1234, 124: False, False: 4.6, None: [1, 5.3, 'abc']}

Список не може бути ключем.
TypeError: unhashable type: 'list'

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [81]:
a = {
    "val1": {
        "subval1": {
            "a1": "x",
            "b1": "y",
            "c1": "z"
        },
        "subval2": 1234567890
    },
    "val2": "hello world",
    "val3": None
}
print(a)

{'val1': {'subval1': {'a1': 'x', 'b1': 'y', 'c1': 'z'}, 'subval2': 1234567890}, 'val2': 'hello world', 'val3': None}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.